/*
POWERED BY TAILWIND CSS!
DO NOT ADD UNLESS IT IS REQUIRED
*/

@tailwind base;

@layer base {
  a {
    @apply text-accent-500;
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html.dark {
  background: black;
  color: white;
}

html.dark, body {
  background: black;
}

a {
  color: rgb(186, 220, 88);
}

a.chakra-button {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}